/* 

display: none; removes the element from the document flow entirely,
 making it inaccessible and not rendered.


visibility: hidden; hides the element visually but keeps it in the document flow, 
making it accessible but not rendered.

opacity: 0; makes the element transparent while keeping it in the document flow,
making it accessible and still rendered, albeit invisible.






*/
